# Ignore Python cache and environments
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
.venv/
env/
pybullet-env/

# Ignore simulation data
data/
*.npy
*.json

# Ignore VSCode settings
.vscode/
